body, h1 {
  margin: 0;
}

body {
  box-sizing: border-box;
}


header {
  color: #204E4A;
  background: #A0D076;
  padding: 1rem;
}

a, a:hover, a:active, a:visited {
  text-decoration: none;
  color: black
}

/* -- PLANT LIST VIEW --*/
.container {
  display: flex;
  flex-flow: row wrap;
  padding: 1rem;
  justify-content: space-around;
  margin: 0 auto;
}

.single-plant {
  background: #E9F5E0;
  flex-basis: 35%;
  flex-grow: 0;
  border: solid 1px #204E4A;
  border-radius: 25px;
  margin: 1rem;
  text-align: center;
  padding: 1rem;
}

.plant-img {
  height: 24rem;
  width: 20rem;
}

/* -- PLANT DETAIL VIEW -- */

.selected-plant-view {
  width: 50%;
  background: #E9F5E0;
  padding: 2rem;
  border-radius: 25px;
  display: flex;
  flex-flow: column nowrap;
}

.selected-img {
  height: 550px;
  width: 450px;
  align-self: center;
}

